body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
footer {
    margin-top: auto;
    border-top: 1px solid #d5d5d5;
}
ul.posts { 
    margin: 20px auto 40px;
}
ul.posts li {
    list-style: none;
}
