html{
    height: 100%;
    margin: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
nav {
    margin-top: 30px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin-top: auto;
    padding: 15px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    padding-left: 17%;
    height: 2.2 em;
    width: auto;
}
